.o_is_late {
  height: 12px !important;
  width: 12px !important;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
}

.o_is_late_red {
   background-color: red; 
}

.o_is_late_green {
   background-color: green;
}